<div class="conversion-class">

    <form class="conversion-form">
            
            <div class="form-input-bind">
                <div class="from-to from-to-dropdown">
                     <button class="drop-list-btn"> 
                        {{ selected_country_from }} 
                    <img [src]="dropdown_icon" alt="dropdown_icon">
                    <div [class] = "drop-downstatus">

                    </div>
                    </button>
                </div>
                <div class="from-to">
                     <button class="drop-list-btn"> {{ selected_country_to }}  </button>
                </div>
            </div>
    </form>

</div>
