<div class="conversion-class">

    <form class="conversion-form">           
            <div class="form-input-bind">
                <div [class] = "drop_down_status">
                     <button class="drop-list-btn" (click) = "selectCurrency($event)"> 
                        {{ selected_country_from }} 
                    <img [src]="dropdown_icon" alt="dropdown_icon">
                    </button>
                    <div [class] ="code_list_status">
                         <input type="text" maxlength="3" placeholder="code"/>

                         <button>USD</button>
                    </div>
                </div>
            </div>
    </form>

</div>
