.code-list-inactive{
    display: none;
}

.code-list {
    display: flex;
    padding-top: 3px ;
    flex-direction: column;
    gap: 0.2em  ;
    align-items: flex-end;  
    width: 70px;
}


.code-list > * {
    width: 50px;
    border: transparent;
    text-align: center;
}

.drop-list-btn{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 3px;
    align-items: center;
}

.conversion-buttons {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical alignment */
}